<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- Custom CSS -->
        <link type="text/css" rel="stylesheet" href="/css/app.css">
        <title>Hangman</title>
    </head>
    <body>
        <header class="container">
            <h1 class="text-center mt-5 mb-3">Hangman</h1>
            <div class="row category-header">
                <div class="col text-center">
                    <h6>Pick a Category:</h6>
                </div>
            </div>
            <div class="row justify-content-center text-center categories">
                <div class="col-lg-2">
                    <button data-name="Actors">Actors</button>
                </div>
                <div class="col-lg-2">
                    <button data-name="Movies">Movies</button>
                </div>
                <div class="col-lg-2">
                    <button data-name="Animals">Animals</button>
                </div>
                <div class="col-lg-2">
                    <button data-name="NFL Teams">NFL Teams</button>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="animation-area text-center mt-3">
                <p></p>
            </div>
            <div class="underscore-display text-center"></div>
            <div class="input-area">
                <div class="row justify-content-center text-center my-3">
                    <div class="col">
                        <button>A</button>
                    </div>
                    <div class="col">
                        <button>B</button>
                    </div>
                    <div class="col">
                        <button>C</button>
                    </div>
                    <div class="col">
                        <button>D</button>
                    </div>
                    <div class="col">
                        <button>E</button>
                    </div>
                    <div class="col">
                        <button>F</button>
                    </div>
                    <div class="col">
                        <button>G</button>
                    </div>
                    <div class="col">
                        <button>H</button>
                    </div>
                    <div class="col">
                        <button>I</button>
                    </div>
                </div>
                <div class="row justify-content-center text-center my-3">
                    <div class="col">
                        <button>J</button>
                    </div>
                    <div class="col">
                        <button>K</button>
                    </div>
                    <div class="col">
                        <button>L</button>
                    </div>
                    <div class="col">
                        <button>M</button>
                    </div>
                    <div class="col">
                        <button>N</button>
                    </div>
                    <div class="col">
                        <button>O</button>
                    </div>
                    <div class="col">
                        <button>P</button>
                    </div>
                    <div class="col">
                        <button>Q</button>
                    </div>
                    <div class="col">
                        <button>R</button>
                    </div>
                </div>
                <div class="row justify-content-center text-center my-3">
                    <div class="col">
                        <button>S</button>
                    </div>
                    <div class="col">
                        <button>T</button>
                    </div>
                    <div class="col">
                        <button>U</button>
                    </div>
                    <div class="col">
                        <button>V</button>
                    </div>
                    <div class="col">
                        <button>W</button>
                    </div>
                    <div class="col">
                        <button>Y</button>
                    </div>
                    <div class="col">
                        <button>X</button>
                    </div>
                    <div class="col">
                        <button>Z</button>
                    </div>
            </div>
            <div class="row justify-content-center text-center my-3">
                <div id="hint" class="col">
                    <button>Hint</button>
                </div>
                <div id="play-again" class="col">
                    <button>Play Again</button>
                </div>
            </div>
        </div>
        

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <!-- Custom js -->
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>